<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>表单输入绑定</title>
</head>
<body>
  <div id="app">
    <input type="text" placeholder="用户名" v-model="username" />{{  usernamestate }}<br />
    <input type="password" placeholder="密码" v-model="password" /> {{ passwordstate }}<br />
    
    <input type="button" value="获取信息" @click="getData">
  </div>
</body>
<script src="vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      username: '吴大勋',
      password: '123456'
    },
    computed: {
      usernamestate () {
        if (this.username ===  '') {
          return ''
        } else if (this.username.length < 6) {
          return '格式错误'
        } else {
          return 'ok'
        }
      },
      passwordstate () {
        if (this.password ===  '') {
          return ''
        } else if (this.password.length < 6) {
          return '格式错误'
        } else {
          return 'ok'
        }
      }
    },
    methods: {
      getData () {
        const obj = {
          username: this.username,
          password: this.password
        }
        console.log(obj)
      }
    }
  })
</script>
</html>