<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div v-if="flag">如果为真我就显示 - v-if</div>
    <div v-else>如果为假我就显示 v-else</div>
    <div v-if="!flag">如果为假我就显示 v-if</div>

    <div v-if="index === 0">000000</div>
    <div v-else-if="index === 1">111111111</div>
    <div v-else>222222222</div>

    <div v-show = "flag">如果为真我就显示 v-show</div>
    <div v-show = "!flag">如果为假我就显示 v-show</div>

    ？？？？ v-if  和 v-show 的区别？ --- 随机抽查，答不出来 - 赵宏程4组
  </div>
</body>
<script src="vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      flag: false,
      index: 5
    }
  })
</script>
</html>